# PANDAS - Python Data Manipulation

In [10]:
import numpy as np
import pandas as pd

# BASIC DATA STRUCTURES IN PANDAS
~ DataFrame
~ Series 
~ Index 
constructed from this pd.Series(data, index=index)

## Pandas series is a one-directional array of indexed data (1-Dimensional)

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [20]:
data.values
data.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
data = pd.Series([0.25,0.5,0.75,1.0],
                index=['a','b','c','d'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [27]:
population_dict = {"california": 3455677, "Texas":213445, "Florida": 123445, "New York": 23322, "Pennsylvania": 231111}
population = pd.Series(population_dict)
population

california      3455677
Texas            213445
Florida          123445
New York          23322
Pennsylvania     231111
dtype: int64

In [29]:
population['california']

np.int64(3455677)

In [38]:
population['california':'Florida']

california    3455677
Texas          213445
Florida        123445
dtype: int64

# Constructing Series Objects

In [39]:
pd.Series([2,3,4])

0    2
1    3
2    4
dtype: int64

In [40]:
pd.Series(4, index=[100, 200, 300])

100    4
200    4
300    4
dtype: int64

In [42]:
pd.Series({2:"a",1:"b",3:"c"})

2    a
1    b
3    c
dtype: object

# PANDAS DATAFRAME OBJECT
Generalization of a numpy array, or specialization of a Python dictionary

Simply a numpy array with labelled rows and columns

## DataFrame as Generalized Numpy Array
### Refresher, series is a one dimensional array with explicity indices whereas a 
 ### a DATAFRAME IS A TWO DIMENSIONAL ARRAY WITH ROW AND COLUMN INDICES

In [4]:
import numpy as np
import pandas as pd
population_dict = {"California":345667, "Texas":67654, "Florida":44555,"New York": 45566, "Pennsylvania": 123333}
#converting to a pandas series

population = pd.Series(population_dict)

In [5]:
area_dict = {"California": 434555, "Texas":543343, "Florida":12344, "New York": 141566, "Pennsylvania": 119334}
area = pd.Series(area_dict)

In [10]:
# converting this to a pd.Dataframe
states = pd.DataFrame({'population': population, 'area': area})
print(states)

              population    area
California        345667  434555
Texas              67654  543343
Florida            44555   12344
New York           45566  141566
Pennsylvania      123333  119334

In [11]:
# Pandas DataFrame has an index attribute
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

In [13]:
# Pandas dataframe has a columns attribute
states.columns

Index(['population', 'area'], dtype='object')

# DATAFRAME AS SPECIALISED DICTIONARY
Dataframe can be thought of a specialized dictionary, i.e, a dictionary maps a key to a value but here, it maps a column name to a Series of column data

In [14]:
states['area']

California      434555
Texas           543343
Florida          12344
New York        141566
Pennsylvania    119334
Name: area, dtype: int64

In [19]:
# constructing from a series
pd.DataFrame(population, columns=['population'])

              population
California        345667
Texas              67654
Florida            44555
New York           45566
Pennsylvania      123333

In [21]:
# Constructing DataFrame from a list of dicts
data = [{'a': i, 'b':2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [24]:
# If some keys are missing. pandas replaces with NaN, not a number
pd.DataFrame([{'a':1, 'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [25]:
# From a dictionary of series objects
pd.DataFrame({'population': population, 'area':area})

              population    area
California        345667  434555
Texas              67654  543343
Florida            44555   12344
New York           45566  141566
Pennsylvania      123333  119334

In [27]:
# from a 2 dimensional array
pd.DataFrame(np.random.rand(3,2), columns=['foo','bar'], index=['a','b','c'])

        foo       bar
a  0.219472  0.944290
b  0.696012  0.576610
c  0.852058  0.396934

In [30]:
# from a structured numpy array
A = np.zeros(3, dtype=[('A','i8'), ('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

# The Pandas Index Object

In [31]:
ind = pd.Index([2,2,34,5,2])
ind

Index([2, 2, 34, 5, 2], dtype='int64')

In [36]:
# Properties or attributes of arrays
ind.size, ind.shape, ind.ndim

(5, (5,), 1)

In [38]:
indA = pd.Index([1,3,4,5])
indB = pd.Index([1,4,6,7,9])

# pd.Index follow many conventions followed by the Set Object in Python
indA.intersection(indB)

Index([1, 4], dtype='int64')

In [39]:
indA.union(indB)

Index([1, 3, 4, 5, 6, 7, 9], dtype='int64')

# DATA INDEXING AND SELECTION

In [41]:
# Data selection in series
data = pd.Series([0.25, 0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [42]:
data['b']

np.float64(0.5)

In [43]:
'a' in data

True

In [48]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [49]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [53]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [54]:
data['e'] =  1.25

In [55]:
# Series as One-Dimensionaal Array

In [56]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [57]:
data[0:2]

a    0.25
b    0.50
dtype: float64

In [58]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

# INDEXERS: LOC AND ILOC

In [60]:
data = pd.Series(['a','b','c'], index=[1,3,5])

data[1]

'a'

In [61]:
data[1:3]

3    b
5    c
dtype: object

In [62]:
# Loc attribute allows indexing and slicing always referencing the explitic index

In [63]:
data.loc[1]

'a'

In [65]:
#the iloc attribute allows indexing and slicing that always references implicit python-style index
data.iloc[1]

'b'

In [68]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'Florida': 170312, 'New York': 141297,
'Pennsylvania': 119280})

pop = pd.Series({'California': 39538223, 'Texas': 29145505,
'Florida': 21538187, 'New York': 20201249,
'Pennsylvania': 13002700})

data = pd.DataFrame({'area': area, 'pop': pop})

data

                area       pop
California    423967  39538223
Texas         695662  29145505
Florida       170312  21538187
New York      141297  20201249
Pennsylvania  119280  13002700

In [69]:
data['area']

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [70]:
# using attribute style to access the values
data.area

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

In [71]:
data.area is data['area']

True

In [72]:
data.pop is data['pop']

False

In [74]:
data['density'] = data['pop'] / data['area']
data

                area       pop     density
California    423967  39538223   93.257784
Texas         695662  29145505   41.896072
Florida       170312  21538187  126.463121
New York      141297  20201249  142.970120
Pennsylvania  119280  13002700  109.009893

In [75]:
data.values

array([[4.23967000e+05, 3.95382230e+07, 9.32577842e+01],
       [6.95662000e+05, 2.91455050e+07, 4.18960717e+01],
       [1.70312000e+05, 2.15381870e+07, 1.26463121e+02],
       [1.41297000e+05, 2.02012490e+07, 1.42970120e+02],
       [1.19280000e+05, 1.30027000e+07, 1.09009893e+02]])

In [77]:
data.T

           California         Texas       Florida      New York  Pennsylvania
area     4.239670e+05  6.956620e+05  1.703120e+05  1.412970e+05  1.192800e+05
pop      3.953822e+07  2.914550e+07  2.153819e+07  2.020125e+07  1.300270e+07
density  9.325778e+01  4.189607e+01  1.264631e+02  1.429701e+02  1.090099e+02

In [79]:
data.values[0]

array([4.23967000e+05, 3.95382230e+07, 9.32577842e+01])