# PANDAS - Python Data Manipulation

In [10]:
import numpy as np
import pandas as pd

# BASIC DATA STRUCTURES IN PANDAS
~ DataFrame
~ Series 
~ Index 
constructed from this pd.Series(data, index=index)

## Pandas series is a one-directional array of indexed data (1-Dimensional)

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [20]:
data.values
data.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
data = pd.Series([0.25,0.5,0.75,1.0],
                index=['a','b','c','d'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [27]:
population_dict = {"california": 3455677, "Texas":213445, "Florida": 123445, "New York": 23322, "Pennsylvania": 231111}
population = pd.Series(population_dict)
population

california      3455677
Texas            213445
Florida          123445
New York          23322
Pennsylvania     231111
dtype: int64

In [29]:
population['california']

np.int64(3455677)

In [38]:
population['california':'Florida']

california    3455677
Texas          213445
Florida        123445
dtype: int64

# Constructing Series Objects

In [39]:
pd.Series([2,3,4])

0    2
1    3
2    4
dtype: int64

In [40]:
pd.Series(4, index=[100, 200, 300])

100    4
200    4
300    4
dtype: int64

In [42]:
pd.Series({2:"a",1:"b",3:"c"})

2    a
1    b
3    c
dtype: object

# PANDAS DATAFRAME OBJECT
Generalization of a numpy array, or specialization of a Python dictionary

Simply a numpy array with labelled rows and columns

## DataFrame as Generalized Numpy Array
### Refresher, series is a one dimensional array with explicity indices whereas a 
 ### a DATAFRAME IS A TWO DIMENSIONAL ARRAY WITH ROW AND COLUMN INDICES

In [4]:
import numpy as np
import pandas as pd
population_dict = {"California":345667, "Texas":67654, "Florida":44555,"New York": 45566, "Pennsylvania": 123333}
#converting to a pandas series

population = pd.Series(population_dict)

In [5]:
area_dict = {"California": 434555, "Texas":543343, "Florida":12344, "New York": 141566, "Pennsylvania": 119334}
area = pd.Series(area_dict)

In [10]:
# converting this to a pd.Dataframe
states = pd.DataFrame({'population': population, 'area': area})
print(states)

              population    area
California        345667  434555
Texas              67654  543343
Florida            44555   12344
New York           45566  141566
Pennsylvania      123333  119334

In [11]:
# Pandas DataFrame has an index attribute
states.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

In [13]:
# Pandas dataframe has a columns attribute
states.columns

Index(['population', 'area'], dtype='object')